/* .item{
    width: 350px;
} */
/* Item.css */
.item {
  /* width: 420px; */
  /* margin-right: 60px;
  margin-left: 60px; */
  
  width: 280px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  background-color: white;
}

.item img {
   
  width: 360px; 
  height: 550px; /* fixed height for uniformity */
  object-fit: cover; /* ensures image fits without distortion */
  border-radius: 10px;
 
}

.item p{
    margin: 6px 0px;

}
.item-price{
    display: flex;
    gap: 20px;

}
.item-price-new {
    color:#374151;
    font-size: 18px;
    font-weight: 600;
    
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
@media(max-width:1280px){
    .item{
        width: 220px;
        font-size: 14px;
       /* margin-left: 0px;
       margin-right: 10px; */
    }
    .item img{
        width:220px;
    }
    .item-price{
        font-size: 14px;
    }
}
@media(max-width:1024px){
    .item{
        width: 170px;
        font-size: 13px;
         /* margin-left: 0px;
       margin-right: 5px; */
    }
    .item img{
        width:170px;
    }
    .item-price{
        font-size: 13px;
    }
}
@media(max-width:800px){
    .item{
        width: 120px;
        font-size: 12px;
    }
    .item img{
        width:120px;
    }
    .item-price{
        font-size: 12px;
    }
}
@media(max-width:500px){
    .item{
        width: 160px;

    }
    .item-img{
        width: 160px;
    }
}