/* .shopcategory-banner{
    display:block;
    margin: 3opx auto;
    width: 500px;
    height:500px

}
.shopcategory-indexsort{
    display:flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexsort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
} */
 .shopcategory-banner {
  display: block;
  margin: auto;
  width: 1400px;
  height: 600px;
  object-fit: cover;
}

.shopcategory-indexsort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 0 20px;
}

.shopcategory-sort {
  padding: 1px 10px 1px ;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopcategory-sort img{
   height:50px;
   margin:0px;
}
.shopcategory-indexsort p span {
  font-weight: 600;
}

.shopcategory-products {
 
  /* margin: 20px ; */
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
  margin-left: 60px ;
  gap: 10px;
  margin-right: 50px;
  padding:20px;
 
}



.shopcategory-loadmore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}
@media(max-width:1280px){
  .shopcategory-banner{
    margin: 20px auto;
    width:90%;
  }
  .shopcategory-indexsort{
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort{
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-indexsort p{
    font-size: 12px;
  }
  .shopcategory-products{
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }
  .shopcategory-products .items{
    margin: auto;
  }
  .shopcategory-loadmore{
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}
@media(max-width:800px){
  .shopcategory-banner{
    width:95%;
  }
  .shopcategory-products{
    width: 95%;
  }
  .shopcategory-loadmore{
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
@media(max-width:500px){
  .shopcategory-products{
    grid-template-columns: 1fr 1fr;
  }
}