.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 50px;
    margin-top: 800px; 
}
.footer-logo{
    display: flex;
    align-items: center;
    gap:20px;
}
.footer-logo p{
    color: #383838;
    font-size: 46px;;
    font-weight: 700;
}
.footer-logo img{
    height: 70px;
    width: 50px;
}
.footer-links{
    margin-top: 40px;
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}
.footer-links li{
    display: flex;
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap:20px ;
    justify-content: center; /* ✅ centers icons horizontally */
    align-items: center;     /* ✅ centers icons vertically */
    margin-top: 30px; 
  
}
.footer-icons-container{
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 0px;
    border: 1px solid #ebebeb;
    
  
}
.footer-icons-container img{
    height: 30px;
    width: 30px;
    
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
     margin-top: 60px;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size:20px;
    text-align: center;
}
.footer-copyright hr{
    margin-top: 0px;
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
    margin-left: auto;        /* ✅ centers the line */
    margin-right: auto;
}

@media(max-width:800){
    .footer{
        gap: 20px;
    }
    .footer-logo{
        gap: 10px;
        align-items: end;
    }
    .footer-logo img{
        width: 40px;
    }
    .footer-logo p{
        font-size: 25px;
    }
    .footer-links{
        font-size: 14px;
        gap: 10px;
    }
    .footer-social-icon{
        width: 22px;
    }
    .footer.copyright{
        font-size: 13px;
    }
}