


.listproduct-header {
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
    color: #454545;
}

.listproduct-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 15px 0;
}

.listproduct-row {
    font-weight: 500;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.listproduct-product-icon {
    height: 100px;
    object-fit: cover;
}

.listproduct-remove-icon {
    cursor: pointer;
    height: 20px;
    justify-self: center;
}

.listproduct-allproducts {
    width: 100%;
}


/* .listproduct{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 740px;
   padding: 10px 50px;
   margin: 30px;
   border-radius: 6px;
   background: white;
}

.listproduct-format-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center; 
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.listproduct-format {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    font-weight: 500;
    width: 100%;
}

.listproduct-product-icon{
    height: 100px;
    object-fit: cover;
}
.listproduct-remove-icon{
    cursor: pointer;
    margin: auto;
    height: 20px;
}


.listproduct-allproducts{
    overflow-y: auto;
}
@media(max-width:800px){
    .listproduct{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }
    .listproduct-format-main{
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
    }
    .listproduct-product-icon{
        height: 60px;

    }
} */